@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

// Center an element vertically and horizontally
@mixin centerHorizontalVertical {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
